{{route-announcer}}
<button class="move-forward" tabindex="0" {{action "moveForward"}}><div class="screen-reader">Move Forward</div></button>
<div class="inner-container">
  {{outlet}}
</div>
<button class="move-backward" tabindex="0" {{action "moveBackward"}}><div class="screen-reader">Move Backward</div></button>
{{page-counter}}
