{{route-announcer}}
<div class="move-forward" {{action "moveForward"}}></div>
<div class="inner-container">
  {{outlet}}
</div>
<div class="move-backward" {{action "moveBackward"}}></div>
{{page-counter}}
